# ide
.idea
.DS_Store
.vscode

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/
jspm_packages/

# dotenv environment variable files
.env*

# gatsby files
src/.cache/
src/public
**/node_modules
